body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; /* Отключить горизонтальный скролл */
}

.container {
  width: 90%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
}

.emoji {
  font-size: 24px;
  margin-right: 10px;
}

.username {
  font-style: italic;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

.score {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 100px;
  text-align: center;
}

.button {
  width: 100%;
  max-width: 355px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 14px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.play-dice {
  background: linear-gradient(90deg, #21701F 0%, #1C696E 100%);
}

.reward-details {
  background: linear-gradient(90deg, #0E2F0D 0%, #0C2728 100%);
}

.button-emoji {
  font-size: 24px;
  margin-right: 10px;
}

.button-text {
  font-size: 20px;
}
